/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea
/resources/assets/vendor/bower_components
/public/img
/public/css
/public/js
/public/vendor
composer.lock
storage/importacao
storage/anexos