body, .main-header .logo, h1, h2, h3 {
    font-family: "Play", cursive; !important;
}

#conteudo-demonstracao td, #conteudo-demonstracao th {
    padding-right: 10px;
}

#lista-contas td.valor, #lista-contas th.valor {
    padding-right: 30px;
}

td.valor, th.valor {
    text-align: right;
}