body, .main-header .logo, h1, h2, h3 {
    font-family: "Play", cursive; !important;
}

#conteudo-demonstracao td, #conteudo-demonstracao th {
    padding-right: 10px;
}

#lista-contas td.valor, #lista-contas th.valor {
    padding-right: 30px;
}

td.valor, th.valor {
    text-align: right;
}

.fixed .main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.content {
    padding-bottom: 40px;
    padding-top: 50px;
}

.table-relatorio {
    font-size: 90%;
}

.anchor:before {
    display: block;
    content: " ";
    margin-top: -285px;
    height: 285px;
    visibility: hidden;
}

a {
    color: #005688;
}

.fixed .content-header {
    position: fixed;
    padding: 15px;
    top: 50px;
    left: 230px;
    z-index: 1030;
    width: 100%;
    background: #f9fafc !important;
}